body {
    margin:50px
}

h1 {
    color:rgb(19, 156, 180);
    font-family:'Courier New', Courier, monospace;
    font-weight:500;
    text-decoration:underline;
    text-decoration-thickness:1px
}

p.pink{
    color:pink
}

div {
    padding:10px;
}
.center{
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
} 
button{
    padding: 25px;
    border-radius: 12px;
    border: 0px;

}